.card {
    border: 3px solid rgb(219, 219, 219) !important;
    box-shadow: 1px 1px 8px 1px #888888;
}

.input-card {
    margin: 0.5em;
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    @media screen and (min-width: $table-size) {
        margin: 1.5em 23em;
    }
    @media screen and (min-width: $phone-size) and (max-width: $table-size) {
        margin: 1.5em 12em;
    }
}

.red-orange-btn {
    @extend .main-btn;
    height: 100%;
    width: 50%;
}

.red-orange-txt {
    color: $dark-red-orange;
}

.data-txt {
    color: darkgray;
    font-size: 0.8em !important;
}

.form-label {
    margin-bottom: 0px !important;
    background: white !important;
}

.upload-icon {
    font-size: 1.5em;
    background: white !important;
    cursor: pointer !important;
    color: $red-orange;
    &:hover {
        color: $dark-red-orange;
    }
}

.uploaded-img {
    width: 100%;
    height: auto;
    padding: 1em;
    background-color: white !important;
}


.post-card {
    @extend .input-card;
} 

.img-section {
    position: relative;
    .dropdown-toggle {
        @extend .no-bg;
        z-index: 999;
        position: absolute;
        right: 0;
        color: darkgray;
        font-size: 2em;
        padding: 5px;
        margin: 0;
        &::before {
            content: none !important;
        }
        &:hover {
            color: $red-orange;
            transition: 0.5s;
        }
    }
    .dropdown-icon {
        background-color: transparent !important;
    }
}

.btn-cancel {
    color: darkgray !important;
}

.btn-save {
    color: $red-orange;
}

