.navbar {
    width: 100vw;
    height: 10%;
    background: $red-orange;
    display: flex;
    flex-direction: row;
    .app-title {
        padding: 0.5em;
        color: white;  
        background: transparent;
    }
}

//put the day filter selection in the right corner
.filter-section {
    display: flex;
    justify-content: flex-end;
    .filter-btn {
        color: white;
        &:hover {
            color: black;
        }
    }
    .day-selection {
        margin-right: 1em;
    }
}